In [80]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
from os import listdir
from os.path import isfile, join
from datetime import time
import glob
import sys

from pyspark.sql.functions import hour, mean,minute, stddev, count,max as psmax,min as psmin, date_format

from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [60]:
#data locations
data_5min_path = "../data/station_5min/2015/d11/"
meta_path = "../data/station_5min/2015/meta_data/d11/"

# Get data file names

In [61]:
#get all files to process
onlyfiles = [f for f in listdir(data_5min_path) if isfile(join(data_5min_path, f))]

In [62]:
onlyfiles[0:3]

['d11_text_station_5min_2015_01_01.txt.gz',
 'd11_text_station_5min_2015_01_02.txt.gz',
 'd11_text_station_5min_2015_01_03.txt.gz']

In [63]:
colnames = [
    'Timestamp','Station','District','Freeway','Direction_of_Travel',
    'LaneType','StationLength','Samples',
    'Perc_Observed','TotalFlow','AvgOccupancy','AvgSpeed',
    'Lane1_Samples','Lane1_Flow','Lane1_AvgOcc','Lane1_AvgSpeed','Lane1_Observed',
    'Lane2_Samples','Lane2_Flow','Lane2_AvgOcc','Lane2_AvgSpeed','Lane2_Observed',
    'Lane3_Samples','Lane3_Flow','Lane3_AvgOcc','Lane3_AvgSpeed','Lane3_Observed',
    'Lane4_Samples','Lane4_Flow','Lane4_AvgOcc','Lane4_AvgSpeed','Lane4_Observed',
    'Lane5_Samples','Lane5_Flow','Lane5_AvgOcc','Lane5_AvgSpeed','Lane5_Observed',
    'Lane6_Samples','Lane6_Flow','Lane6_AvgOcc','Lane6_AvgSpeed','Lane6_Observed',
    'Lane7_Samples','Lane7_Flow','Lane7_AvgOcc','Lane7_AvgSpeed','Lane7_Observed',
    'Lane8_Samples','Lane8_Flow','Lane8_AvgOcc','Lane8_AvgSpeed','Lane8_Observed'
]
colnames = [c.lower() for c in colnames]

In [64]:
len(colnames)

52

# Make spark schema

struct list was generated with the following code after reading the files with inferschema = true, then hand modified 
```
'[' + ','.join(['StructField("%s",%s(),True)'% (colnames[idx], str(i.dataType))
for idx, i in enumerate(rdd.schema)]) + ']'
```

In [66]:
#print '[\n    ' + ",\n    ".join(['StructField("%s",%s(),True)'% (colnames[idx], str(i.dataType))
#for idx, i in enumerate(rdd.schema)]) + '\n]'

# Build dataframe with spark

In [67]:
struct_list = [
    StructField("timestamp",TimestampType(),True),
    StructField("station",IntegerType(),True),
    StructField("district",IntegerType(),True),
    StructField("freeway",IntegerType(),True),
    StructField("direction_of_travel",StringType(),True),
    StructField("lanetype",StringType(),True),
    StructField("stationlength",DoubleType(),True),
    StructField("samples",IntegerType(),True),
    StructField("perc_observed",IntegerType(),True),
    StructField("totalflow",IntegerType(),True),
    StructField("avgoccupancy",DoubleType(),True),
    StructField("avgspeed",DoubleType(),True),
    StructField("lane1_samples",IntegerType(),True),
    StructField("lane1_flow",IntegerType(),True),
    StructField("lane1_avgocc",DoubleType(),True),
    StructField("lane1_avgspeed",DoubleType(),True),
    StructField("lane1_observed",IntegerType(),True),
    StructField("lane2_samples",IntegerType(),True),
    StructField("lane2_flow",IntegerType(),True),
    StructField("lane2_avgocc",DoubleType(),True),
    StructField("lane2_avgspeed",DoubleType(),True),
    StructField("lane2_observed",IntegerType(),True),
    StructField("lane3_samples",IntegerType(),True),
    StructField("lane3_flow",IntegerType(),True),
    StructField("lane3_avgocc",DoubleType(),True),
    StructField("lane3_avgspeed",DoubleType(),True),
    StructField("lane3_observed",IntegerType(),True),
    StructField("lane4_samples",IntegerType(),True),
    StructField("lane4_flow",IntegerType(),True),
    StructField("lane4_avgocc",DoubleType(),True),
    StructField("lane4_avgspeed",DoubleType(),True),
    StructField("lane4_observed",IntegerType(),True),
    StructField("lane5_samples",IntegerType(),True),
    StructField("lane5_flow",IntegerType(),True),
    StructField("lane5_avgocc",DoubleType(),True),
    StructField("lane5_avgspeed",DoubleType(),True),
    StructField("lane5_observed",IntegerType(),True),
    StructField("lane6_samples",IntegerType(),True),
    StructField("lane6_flow",IntegerType(),True),
    StructField("lane6_avgocc",DoubleType(),True),
    StructField("lane6_avgspeed",DoubleType(),True),
    StructField("lane6_observed",IntegerType(),True),
    StructField("lane7_samples",IntegerType(),True),
    StructField("lane7_flow",IntegerType(),True),
    StructField("lane7_avgocc",DoubleType(),True),
    StructField("lane7_avgspeed",DoubleType(),True),
    StructField("lane7_observed",IntegerType(),True),
    StructField("lane8_samples",IntegerType(),True),
    StructField("lane8_flow",IntegerType(),True),
    StructField("lane8_avgocc",DoubleType(),True),
    StructField("lane8_avgspeed",DoubleType(),True),
    StructField("lane8_observed",IntegerType(),True)
]

schema_struct = StructType(struct_list)

In [68]:
#node this is only the first 5 days of files for now
files = [data_5min_path + filename for filename in onlyfiles]#[:5]]

rdd = spark.read.csv(
    files, 
    header='false',
    timestampFormat='MM/dd/yyyy HH:mm:ss',
    schema=schema_struct,
    inferSchema='false'
)
    
rdd.take(1)

[Row(timestamp=datetime.datetime(2015, 2, 20, 0, 0), station=1100313, district=11, freeway=5, direction_of_travel=u'N', lanetype=u'FR', stationlength=None, samples=10, perc_observed=100, totalflow=12, avgoccupancy=None, avgspeed=None, lane1_samples=10, lane1_flow=12, lane1_avgocc=None, lane1_avgspeed=None, lane1_observed=1, lane2_samples=None, lane2_flow=None, lane2_avgocc=None, lane2_avgspeed=None, lane2_observed=0, lane3_samples=None, lane3_flow=None, lane3_avgocc=None, lane3_avgspeed=None, lane3_observed=0, lane4_samples=None, lane4_flow=None, lane4_avgocc=None, lane4_avgspeed=None, lane4_observed=0, lane5_samples=None, lane5_flow=None, lane5_avgocc=None, lane5_avgspeed=None, lane5_observed=0, lane6_samples=None, lane6_flow=None, lane6_avgocc=None, lane6_avgspeed=None, lane6_observed=0, lane7_samples=None, lane7_flow=None, lane7_avgocc=None, lane7_avgspeed=None, lane7_observed=0, lane8_samples=None, lane8_flow=None, lane8_avgocc=None, lane8_avgspeed=None, lane8_observed=0)]

In [69]:
rdd.count()

154289957

### build freeway STM station order from meta data

In [70]:
def loadMeta():
    meta_dir='../data/External/meta/2015/d11/d11_text_meta_2015_*.txt'
    meta_files = glob.glob(meta_dir)

    meta_file_list = []
    for meta_file in meta_files:
        date = str('_'.join(meta_file.split('_')[4:7])).split('.')[0]
        df = pd.read_table(meta_file, index_col=None, header=0)
        date_col = pd.Series([date] * len(df))
        df['file_date'] = date_col
        # drop rows that are missing latitude / longitude values
        #df.dropna(inplace=True, subset=['Latitude', 'Longitude'], how='any')
        meta_file_list.append(df)

    meta_frame = pd.concat(meta_file_list).drop_duplicates(subset='ID', keep='last')

    usefwy = [ 56, 125, 805,  52, 163,   8,  15,   5, 905,  78,  94,  54]

    meta_frame = meta_frame[meta_frame.Fwy.apply(lambda x: x in usefwy)]

    #Add freeway name FwyDir
    meta_frame['freeway'] = meta_frame.Fwy.apply(str) + meta_frame.Dir
    
    r_c = {}
    for c in meta_frame.columns:
        r_c[c]=c.lower()
    
    meta_frame=meta_frame.rename(columns = r_c )
    return meta_frame

meta_data = sqlCtx.createDataFrame(loadMeta().loc[:,['id','abs_pm','type']].rename(columns={'id':'station'}))

In [71]:
meta_data.show()

+-------+-----------------+----+
|station|           abs_pm|type|
+-------+-----------------+----+
|1113072|            7.885|  ML|
|1113073|            7.885|  OR|
|1113680|            7.364|  ML|
|1113683|            7.885|  FR|
|1119041|            3.282|  ML|
|1119042|            5.428|  ML|
|1119059|            4.067|  ML|
|1119060|            6.346|  ML|
|1119093|            7.026|  ML|
|1119094|            4.747|  ML|
|1119109|             7.93|  ML|
|1119110|            5.575|  ML|
|1119178|           12.009|  ML|
|1119179|           11.364|  ML|
|1122687|            8.103|  FR|
|1122983|            9.712|  ML|
|1122991|9.277000000000001|  ML|
|1119020|4.718999999999999|  ML|
|1119021|            2.344|  ML|
|1119050|            3.928|  ML|
+-------+-----------------+----+
only showing top 20 rows

# filter for weekdays I5 S
# group by station, time

In [72]:
station_time = (
    rdd
    .where(
        'freeway = 5'
    )
    .where(
        'direction_of_travel = "S"'
    )
    .select(
        'timestamp',
        'station',
        'totalflow',
        'avgoccupancy',
        'avgspeed',
        date_format('timestamp', 'u').alias('dayofweek')
    )
    .filter(
        'dayofweek < 6'
    )
    .groupBy([
        'station',
        hour("timestamp").alias("hour"),
        minute("timestamp").alias("minute")
    ])
    .agg(
        mean("totalflow").alias("flow_mean"),
        stddev("totalflow").alias("flow_std"),
        count("totalflow").alias("flow_count"),
        psmax("totalflow").alias("flow_max"),
        psmin("totalflow").alias("flow_min"),
        
        mean("avgoccupancy").alias("occ_mean"),
        stddev("avgoccupancy").alias("occ_std"),
        count("avgoccupancy").alias("occ_count"),
        psmax("avgoccupancy").alias("occ_max"),
        psmin("avgoccupancy").alias("occ_min"),
        
        mean("avgspeed").alias("speed_mean"),
        stddev("avgspeed").alias("speed_std"),
        count("avgspeed").alias("speed_count"),
        psmax("avgspeed").alias("speed_max"),
        psmin("avgspeed").alias("speed_min")
    )
)
#station_time.show(10)

In [73]:
df = station_time.toPandas()

In [74]:
df.station.unique().shape

(182,)

In [75]:
df['time'] = df.apply(lambda x:time(int(x.hour),int(x.minute)),axis = 1)

In [76]:
df.sort_values('time',inplace=True)

In [77]:
df.columns

Index([u'station', u'hour', u'minute', u'flow_mean', u'flow_std',
       u'flow_count', u'flow_max', u'flow_min', u'occ_mean', u'occ_std',
       u'occ_count', u'occ_max', u'occ_min', u'speed_mean', u'speed_std',
       u'speed_count', u'speed_max', u'speed_min', u'time'],
      dtype='object')

In [82]:
df

,station,hour,minute,flow_mean,flow_std,flow_count,flow_max,flow_min,occ_mean,occ_std,occ_count,occ_max,occ_min,speed_mean,speed_std,speed_count,speed_max,speed_min,time
757,1108435,0,0,4.232932,2.286434,249,14.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
39425,1100384,0,0,3.568000,2.072331,250,11.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
26906,1114832,0,0,60.260536,32.696641,261,202.0,12.0,0.010267,0.005398,261,0.0356,0.0024,72.207663,2.446210,261,75.2,56.5,00:00:00
26907,1118326,0,0,30.095785,9.421458,261,88.0,14.0,0.006778,0.002244,261,0.0221,0.0033,68.311494,0.893536,261,71.5,66.2,00:00:00
7534,1108453,0,0,8.641593,3.484549,226,18.0,1.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
27163,1108726,0,0,4.357430,2.539359,249,19.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
38386,1114240,0,0,90.678161,20.858771,261,195.0,47.0,0.018870,0.004424,261,0.0406,0.0097,67.729885,0.509702,261,69.2,64.7,00:00:00
52141,1118152,0,0,2.898785,2.270767,247,12.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
38385,1113960,0,0,3.471774,2.251228,248,12.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
51604,1108680,0,0,89.731801,30.574702,261,183.0,25.0,0.023224,0.006714,261,0.0458,0.0060,68.533716,0.783099,261,70.8,64.1,00:00:00
51605,1114749,0,0,97.394636,22.629827,261,182.0,55.0,0.016661,0.004552,261,0.0344,0.0087,71.750958,2.351932,261,73.5,61.5,00:00:00
38107,1108606,0,0,7.337398,3.014926,246,19.0,1.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
8317,1118428,0,0,88.486590,18.558556,261,190.0,54.0,0.018208,0.003902,261,0.0397,0.0103,68.306513,0.528492,261,70.3,66.8,00:00:00
37103,1108686,0,0,3.552000,2.176752,250,17.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
37102,1100393,0,0,1.441767,1.246617,249,5.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
8594,1122583,0,0,75.796935,24.034289,261,207.0,33.0,0.015938,0.004706,261,0.0422,0.0067,70.345211,0.502557,261,71.5,66.8,00:00:00
36829,1100348,0,0,4.530612,2.775050,245,22.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
13638,1120740,0,0,2.694690,2.981374,226,22.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
13637,1119997,0,0,97.597701,38.618387,261,243.0,22.0,0.019252,0.008714,261,0.0628,0.0039,69.849808,4.597245,261,73.6,21.9,00:00:00
27908,1100372,0,0,8.289157,3.998579,249,22.0,1.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
36017,1113780,0,0,4.028000,2.423781,250,12.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
13357,1122544,0,0,94.563218,31.149775,261,271.0,45.0,0.013912,0.004234,261,0.0387,0.0068,69.480077,1.457575,261,72.0,63.3,00:00:00
13356,1114708,0,0,47.072797,19.338644,261,102.0,16.0,0.008446,0.004843,261,0.0249,0.0024,72.156705,3.209673,261,75.4,63.0,00:00:00
13355,1108657,0,0,92.559387,32.564512,261,207.0,24.0,0.020977,0.007029,261,0.0497,0.0055,68.697318,0.864310,261,70.1,64.7,00:00:00
39426,1117818,0,0,95.413793,26.397356,261,197.0,45.0,0.017175,0.005008,261,0.0396,0.0084,69.416092,1.174361,261,71.9,65.9,00:00:00
13354,1108480,0,0,0.388000,0.644295,250,3.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
26655,1119284,0,0,3.862069,3.261096,261,16.0,0.0,0.002994,0.002514,261,0.0122,0.0000,65.000000,0.000000,261,65.0,65.0,00:00:00
6992,1100363,0,0,1.166667,1.151589,210,7.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
24308,1108460,0,0,5.240000,2.719556,250,16.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,00:00:00
15451,1114721,0,0,62.103448,17.606839,261,116.0,26.0,0.014587,0.005127,261,0.0296,0.0052,67.598467,2.236102,261,74.9,63.5,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44484,1120377,23,55,19.177606,8.880741,259,33.0,0.0,0.014257,0.006513,259,0.0238,0.0000,67.160232,1.318092,259,68.1,62.6,23:55:00
28447,1120472,23,55,13.098814,7.455830,253,35.0,0.0,0.015926,0.009239,253,0.0416,0.0000,NaN,NaN,0,NaN,NaN,23:55:00
28448,1122567,23,55,20.563707,9.086087,259,55.0,0.0,0.005244,0.002059,259,0.0132,0.0000,69.820463,1.341701,259,72.7,63.4,23:55:00
13103,1122250,23,55,10.178571,5.082179,252,31.0,1.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
13102,1114254,23,55,201.799228,48.522574,259,362.0,92.0,0.036184,0.034987,259,0.5825,0.0146,70.244402,4.804447,259,74.4,6.5,23:55:00
49451,1123072,23,55,15.776062,9.156904,259,65.0,0.0,0.007443,0.004377,259,0.0238,0.0000,68.333977,2.298517,259,72.4,49.6,23:55:00
49450,1108726,23,55,5.358566,3.474322,251,19.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
49449,1108461,23,55,121.737452,44.330950,259,264.0,27.0,0.029492,0.009932,259,0.0641,0.0062,67.130502,2.377372,259,74.1,57.5,23:55:00
28709,1108615,23,55,105.185328,38.128867,259,223.0,46.0,0.017483,0.006526,259,0.0367,0.0082,70.795753,1.130352,259,74.3,65.9,23:55:00
28710,1108724,23,55,6.079681,4.011188,251,23.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
28991,1119284,23,55,4.459459,3.973909,259,19.0,0.0,0.003559,0.003038,259,0.0143,0.0000,64.932046,0.135028,259,65.6,64.2,23:55:00
12830,1120743,23,55,24.288618,10.591970,246,59.0,0.0,0.009143,0.003940,246,0.0230,0.0000,NaN,NaN,0,NaN,NaN,23:55:00
12829,1113791,23,55,6.624490,4.020161,245,20.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
29497,1108418,23,55,17.172691,8.085125,249,44.0,2.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
12321,1119978,23,55,103.888031,42.953813,259,280.0,15.0,0.020734,0.008475,259,0.0555,0.0030,70.238610,0.813152,259,72.4,66.5,23:55:00
1768,1108694,23,55,34.664032,14.763539,253,92.0,12.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
18107,1118365,23,55,55.945946,17.805935,259,150.0,20.0,0.011973,0.003909,259,0.0375,0.0039,67.692278,0.781979,259,69.8,64.3,23:55:00
19151,1108725,23,55,102.787645,38.896868,259,247.0,31.0,0.019666,0.007045,259,0.0471,0.0063,68.733977,1.609277,259,72.9,61.3,23:55:00
12060,1100390,23,55,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
48918,1119817,23,55,83.204633,33.439646,259,189.0,31.0,0.018473,0.009622,259,0.0469,0.0062,67.742085,1.578577,259,70.4,61.8,23:55:00
48917,1108474,23,55,3.984190,2.645704,253,15.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
30805,1108609,23,55,86.803089,32.965860,259,185.0,37.0,0.019937,0.007688,259,0.0439,0.0080,67.218533,1.081972,259,70.1,63.5,23:55:00
30806,1113788,23,55,2.577869,3.717117,244,54.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
11789,1121734,23,55,102.471042,45.799298,259,348.0,35.0,0.035288,0.073202,259,0.5368,0.0074,66.077606,9.223145,259,77.6,10.7,23:55:00
11788,1108480,23,55,0.430830,0.908600,253,10.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
31353,1122257,23,55,103.370656,42.254508,259,243.0,8.0,0.022719,0.008439,259,0.0537,0.0029,69.061390,1.645942,259,74.1,63.2,23:55:00
11523,1120419,23,55,24.061776,10.714587,259,64.0,7.0,0.017923,0.007983,259,0.0461,0.0048,66.083398,1.568338,259,68.1,61.5,23:55:00
11522,1108667,23,55,86.868726,33.358258,259,231.0,30.0,0.018522,0.007379,259,0.0503,0.0069,70.874131,2.233706,259,74.9,61.2,23:55:00
48411,1108684,23,55,1.577075,1.575793,253,10.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,23:55:00
52415,1114318,23,55,151.405405,41.348511,259,281.0,75.0,0.022686,0.006220,259,0.0426,0.0109,67.874903,0.900445,259,71.4,65.6,23:55:00