In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
from os import listdir
from os.path import isfile, join
from datetime import time
import glob
import sys
import datetime

from pyspark.sql.functions import udf, hour, mean, minute, stddev, count, max as psmax, min as psmin, date_format

from pyspark.sql import SQLContext
from pyspark.sql.types import *

Go here to see pyspark functions
http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html

In [2]:
#data locations
data_5min_path = "../../../d11_traffic_data/d11/"
meta_path = "../../../d11_traffic_data/meta/d11/"

# Get data file names

These are all of the filenames that are going to be fed into the Spark instance.

In [3]:
#get all files to process
onlyfiles = [f for f in listdir(data_5min_path) if isfile(join(data_5min_path, f)) ]
onlyfiles = [a for a in onlyfiles if 'txt.gz' in a]

In [ ]:
onlyfiles[0:3]

['d11_text_station_5min_2015_01_01.txt.gz',
 'd11_text_station_5min_2015_01_02.txt.gz',
 'd11_text_station_5min_2015_01_03.txt.gz']

# Make spark schema

struct list was generated with the following code after reading the files with inferschema = true, then hand modified 
```
'[' + ','.join(['StructField("%s",%s(),True)'% (colnames[idx], str(i.dataType))
for idx, i in enumerate(rdd.schema)]) + ']'
```

 Column Names are not defined in the files. Defining column names for readability

In [4]:
colnames = [
    'Timestamp','Station','District','Freeway','Direction_of_Travel',
    'LaneType','StationLength','Samples',
    'Perc_Observed','TotalFlow','AvgOccupancy','AvgSpeed',
    'Lane1_Samples','Lane1_Flow','Lane1_AvgOcc','Lane1_AvgSpeed','Lane1_Observed',
    'Lane2_Samples','Lane2_Flow','Lane2_AvgOcc','Lane2_AvgSpeed','Lane2_Observed',
    'Lane3_Samples','Lane3_Flow','Lane3_AvgOcc','Lane3_AvgSpeed','Lane3_Observed',
    'Lane4_Samples','Lane4_Flow','Lane4_AvgOcc','Lane4_AvgSpeed','Lane4_Observed',
    'Lane5_Samples','Lane5_Flow','Lane5_AvgOcc','Lane5_AvgSpeed','Lane5_Observed',
    'Lane6_Samples','Lane6_Flow','Lane6_AvgOcc','Lane6_AvgSpeed','Lane6_Observed',
    'Lane7_Samples','Lane7_Flow','Lane7_AvgOcc','Lane7_AvgSpeed','Lane7_Observed',
    'Lane8_Samples','Lane8_Flow','Lane8_AvgOcc','Lane8_AvgSpeed','Lane8_Observed'
]
colnames = [c.lower() for c in colnames]

Ran spark instance once with limited dataset to identify the datatypes of each column to help create the following script.

In [ ]:
#print '[\n    ' + ",\n    ".join(['StructField("%s",%s(),True)'% (colnames[idx], str(i.dataType))
#for idx, i in enumerate(rdd.schema)]) + '\n]'

# Build dataframe with spark

Defining the schema of the files that we are reading in. StructType creates the dataframe schema equivalent of create syntax in SQL)

In [5]:
struct_list = [
    StructField("timestamp",TimestampType(),True),
    StructField("station",IntegerType(),True),
    StructField("district",IntegerType(),True),
    StructField("freeway",IntegerType(),True),
    StructField("direction_of_travel",StringType(),True),
    StructField("lanetype",StringType(),True),
    StructField("stationlength",DoubleType(),True),
    StructField("samples",IntegerType(),True),
    StructField("perc_observed",IntegerType(),True),
    StructField("totalflow",IntegerType(),True),
    StructField("avgoccupancy",DoubleType(),True),
    StructField("avgspeed",DoubleType(),True),
    StructField("lane1_samples",IntegerType(),True),
    StructField("lane1_flow",IntegerType(),True),
    StructField("lane1_avgocc",DoubleType(),True),
    StructField("lane1_avgspeed",DoubleType(),True),
    StructField("lane1_observed",IntegerType(),True),
    StructField("lane2_samples",IntegerType(),True),
    StructField("lane2_flow",IntegerType(),True),
    StructField("lane2_avgocc",DoubleType(),True),
    StructField("lane2_avgspeed",DoubleType(),True),
    StructField("lane2_observed",IntegerType(),True),
    StructField("lane3_samples",IntegerType(),True),
    StructField("lane3_flow",IntegerType(),True),
    StructField("lane3_avgocc",DoubleType(),True),
    StructField("lane3_avgspeed",DoubleType(),True),
    StructField("lane3_observed",IntegerType(),True),
    StructField("lane4_samples",IntegerType(),True),
    StructField("lane4_flow",IntegerType(),True),
    StructField("lane4_avgocc",DoubleType(),True),
    StructField("lane4_avgspeed",DoubleType(),True),
    StructField("lane4_observed",IntegerType(),True),
    StructField("lane5_samples",IntegerType(),True),
    StructField("lane5_flow",IntegerType(),True),
    StructField("lane5_avgocc",DoubleType(),True),
    StructField("lane5_avgspeed",DoubleType(),True),
    StructField("lane5_observed",IntegerType(),True),
    StructField("lane6_samples",IntegerType(),True),
    StructField("lane6_flow",IntegerType(),True),
    StructField("lane6_avgocc",DoubleType(),True),
    StructField("lane6_avgspeed",DoubleType(),True),
    StructField("lane6_observed",IntegerType(),True),
    StructField("lane7_samples",IntegerType(),True),
    StructField("lane7_flow",IntegerType(),True),
    StructField("lane7_avgocc",DoubleType(),True),
    StructField("lane7_avgspeed",DoubleType(),True),
    StructField("lane7_observed",IntegerType(),True),
    StructField("lane8_samples",IntegerType(),True),
    StructField("lane8_flow",IntegerType(),True),
    StructField("lane8_avgocc",DoubleType(),True),
    StructField("lane8_avgspeed",DoubleType(),True),
    StructField("lane8_observed",IntegerType(),True)
]

schema_struct = StructType(struct_list)

Loading the data into spark dataframe from the files (equivalent of insert statements with files in SQL)

In [6]:
#node this is only the first 5 days of files for now
files = [data_5min_path + filename for filename in onlyfiles[:5]]

rdd = spark.read.csv(
    files, 
    header='false',
    timestampFormat='MM/dd/yyyy HH:mm:ss',
    schema=schema_struct,
    inferSchema='false'
)
    
rdd.take(1)

[Row(timestamp=datetime.datetime(2015, 1, 5, 0, 0), station=1100313, district=11, freeway=5, direction_of_travel=u'N', lanetype=u'FR', stationlength=None, samples=10, perc_observed=100, totalflow=6, avgoccupancy=None, avgspeed=None, lane1_samples=10, lane1_flow=6, lane1_avgocc=None, lane1_avgspeed=None, lane1_observed=1, lane2_samples=None, lane2_flow=None, lane2_avgocc=None, lane2_avgspeed=None, lane2_observed=0, lane3_samples=None, lane3_flow=None, lane3_avgocc=None, lane3_avgspeed=None, lane3_observed=0, lane4_samples=None, lane4_flow=None, lane4_avgocc=None, lane4_avgspeed=None, lane4_observed=0, lane5_samples=None, lane5_flow=None, lane5_avgocc=None, lane5_avgspeed=None, lane5_observed=0, lane6_samples=None, lane6_flow=None, lane6_avgocc=None, lane6_avgspeed=None, lane6_observed=0, lane7_samples=None, lane7_flow=None, lane7_avgocc=None, lane7_avgspeed=None, lane7_observed=0, lane8_samples=None, lane8_flow=None, lane8_avgocc=None, lane8_avgspeed=None, lane8_observed=0)]

In [ ]:
rdd.count()

### Build freeway STM station order from meta data

Build a sparksql dataframe with the metadata

In [7]:
meta_path = "../../../d11_traffic_data/meta/d11/"

def loadMeta():
    meta_dir= meta_path+'d11_text_meta_2015_*.txt'
    meta_files = glob.glob(meta_dir)

    meta_file_list = []
    for meta_file in meta_files:
        date = str('_'.join(meta_file.split('_')[4:7])).split('.')[0]
        df = pd.read_table(meta_file, index_col=None, header=0)
        date_col = pd.Series([date] * len(df))
        df['file_date'] = date_col
        # drop rows that are missing latitude / longitude values
        #df.dropna(inplace=True, subset=['Latitude', 'Longitude'], how='any')
        meta_file_list.append(df)

    meta_frame = pd.concat(meta_file_list).drop_duplicates(subset='ID', keep='last')

    usefwy = [ 56, 125, 805,  52, 163,   8,  15,   5, 905,  78,  94,  54]

    meta_frame = meta_frame[meta_frame.Fwy.apply(lambda x: x in usefwy)]

    #Add freeway name FwyDir
    meta_frame['freeway'] = meta_frame.Fwy.apply(str) + meta_frame.Dir
    
    r_c = {}
    for c in meta_frame.columns:
        r_c[c]=c.lower()
    
    meta_frame=meta_frame.rename(columns = r_c )
    return meta_frame

meta_data = sqlCtx.createDataFrame(loadMeta().loc[:,['id','abs_pm','type']].rename(columns={'id':'station'}))

In [ ]:
meta_data.show(100)

# filter for weekdays I5 S
# group by station, time

Modify this to make all queries

In [13]:
weekdaySelector = udf(
    lambda x: "weekday" if int(x) < 6 else "weekend"
)

#timeOfDay = udf(
#    lambda x: x[0] #time(int(x.hour),int(x.minute))
#)

timeOfDay = udf(
    lambda x: time(int(x.hour), int(x.minute)).strftime("%H:%M")
)

In [18]:
station_time = (
    rdd
    .select(
        'freeway',
        'direction_of_travel',
        'timestamp',
        'station',
        'totalflow',
        'avgoccupancy',
        'avgspeed',
        date_format('timestamp', 'u').alias('dayofweek')
    )
    
)

station_time = (
    station_time
    .withColumn(
        'dayType', 
        weekdaySelector(station_time.dayofweek)
        )
    .withColumn(
        'timeOfDay',
        timeOfDay(station_time.timestamp)
    )
    .groupBy([
        'freeway',
        'direction_of_travel',
        'station',
        'dayType',
        #'dayofweek',
        'timeOfDay'
        #hour("timestamp").alias("hour"),
        #minute("timestamp").alias("minute")
    ])
    .agg(
        mean("totalflow").alias("flow_mean"),
        stddev("totalflow").alias("flow_std"),
        count("totalflow").alias("flow_count"),
        psmax("totalflow").alias("flow_max"),
        psmin("totalflow").alias("flow_min"),
        
        mean("avgoccupancy").alias("occ_mean"),
        stddev("avgoccupancy").alias("occ_std"),
        count("avgoccupancy").alias("occ_count"),
        psmax("avgoccupancy").alias("occ_max"),
        psmin("avgoccupancy").alias("occ_min"),
        
        mean("avgspeed").alias("speed_mean"),
        stddev("avgspeed").alias("speed_std"),
        count("avgspeed").alias("speed_count"),
        psmax("avgspeed").alias("speed_max"),
        psmin("avgspeed").alias("speed_min")
    )
)



#station_time = (
#    station_time
#    .withColumn(
#        'timeOfDay', 
#        timeOfDay(station_time)
#    )
#)
#station_time.show(10)

In [19]:
df = station_time.toPandas()

In [ ]:
df.station.unique().shape

In [ ]:
#print df.columns
df['dayType'].unique()

In [ ]:
df[:10].apply(lambda x:time(int(x.hour),int(x.minute)),axis = 1)

In [ ]:
df.sort_values('time',inplace=True)

In [11]:
df.columns

Index([u'freeway', u'direction_of_travel', u'station', u'dayType',
       u'dayofweek', u'timeOfDay', u'flow_mean', u'flow_std', u'flow_count',
       u'flow_max', u'flow_min', u'occ_mean', u'occ_std', u'occ_count',
       u'occ_max', u'occ_min', u'speed_mean', u'speed_std', u'speed_count',
       u'speed_max', u'speed_min'],
      dtype='object')

In [20]:
df.sort_values('timeOfDay')

,freeway,direction_of_travel,station,dayType,timeOfDay,flow_mean,flow_std,flow_count,flow_max,flow_min,occ_mean,occ_std,occ_count,occ_max,occ_min,speed_mean,speed_std,speed_count,speed_max,speed_min
0,8,W,1108338,weekday,00:00,1.333333,1.154701,3,2,0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
772932,15,S,1100586,weekend,00:00,16.500000,7.778175,2,22,11,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
772931,8,W,1100475,weekend,00:00,29.500000,0.707107,2,30,29,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419878,5,S,1100381,weekend,00:00,7.000000,1.414214,2,8,6,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419879,94,W,1108294,weekend,00:00,7.000000,1.414214,2,8,6,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419880,5,N,1108509,weekend,00:00,120.000000,8.485281,2,126,114,0.024850,0.000495,2,0.0252,0.0245,69.050000,0.636396,2,69.5,68.6
419881,5,S,1108726,weekend,00:00,8.500000,0.707107,2,9,8,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419882,56,W,1113072,weekend,00:00,61.000000,5.656854,2,65,57,0.022900,0.001697,2,0.0241,0.0217,68.550000,0.070711,2,68.6,68.5
419883,78,E,1113565,weekend,00:00,10.000000,1.414214,2,11,9,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419884,125,S,1114018,weekend,00:00,66.500000,10.606602,2,74,59,0.018400,0.002404,2,0.0201,0.0167,67.950000,0.212132,2,68.1,67.8
419885,805,N,1120300,weekend,00:00,4.500000,2.121320,2,6,3,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
419886,15,N,1120611,weekend,00:00,145.000000,5.656854,2,149,141,0.019300,0.001131,2,0.0201,0.0185,69.850000,0.353553,2,70.1,69.6
419887,905,W,1122411,weekend,00:00,22.500000,4.949747,2,26,19,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
452070,905,W,1125829,weekday,00:00,30.333333,14.153916,3,39,14,0.006300,0.003148,3,0.0089,0.0028,67.600000,0.173205,3,67.8,67.5
452069,56,E,1125712,weekday,00:00,3.000000,1.000000,3,4,2,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
452068,5,N,1114290,weekday,00:00,73.000000,12.000000,3,85,61,0.011600,0.002107,3,0.0138,0.0096,71.266667,0.503322,3,71.8,70.8
452067,163,S,1108722,weekday,00:00,2.000000,3.464102,3,6,0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
452066,5,S,1108680,weekday,00:00,82.333333,28.884829,3,100,49,0.019133,0.006620,3,0.0233,0.0115,68.766667,0.550757,3,69.4,68.4
452065,8,W,1108342,weekday,00:00,4.666667,1.154701,3,6,4,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
732360,8,W,1108350,weekday,00:00,1.333333,1.527525,3,3,0,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
732361,5,S,1108609,weekday,00:00,49.666667,15.534907,3,67,37,0.011600,0.003404,3,0.0153,0.0086,67.233333,0.901850,3,68.1,66.3
311165,5,N,1125314,weekday,00:00,81.666667,19.008770,3,101,63,0.015100,0.003666,3,0.0191,0.0119,68.566667,0.305505,3,68.9,68.3
772933,8,E,1108367,weekend,00:00,14.000000,0.000000,2,14,14,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
311164,5,N,1123081,weekday,00:00,11.666667,1.527525,3,13,10,0.004233,0.000802,3,0.0050,0.0034,66.700000,0.754983,3,67.5,66.0
772934,15,S,1108556,weekend,00:00,92.000000,5.656854,2,96,88,0.012850,0.000495,2,0.0132,0.0125,71.550000,0.070711,2,71.6,71.5
772936,163,S,1116105,weekend,00:00,59.000000,0.000000,2,59,59,0.010850,0.000071,2,0.0109,0.0108,70.700000,0.000000,2,70.7,70.7
170288,905,W,1123261,weekday,00:00,72.000000,12.767145,3,86,61,0.024500,0.003934,3,0.0287,0.0209,64.366667,0.152753,3,64.5,64.2
170287,15,S,1115771,weekday,00:00,65.666667,12.503333,3,78,53,0.011100,0.002427,3,0.0138,0.0091,71.666667,0.305505,3,72.0,71.4
585936,15,S,1121105,weekend,00:00,114.500000,14.849242,2,125,104,0.015950,0.001768,2,0.0172,0.0147,71.350000,0.070711,2,71.4,71.3
585935,5,S,1118365,weekend,00:00,45.500000,2.121320,2,47,44,0.009550,0.000636,2,0.0100,0.0091,67.400000,0.141421,2,67.5,67.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392730,5,S,1119954,weekday,23:55,102.333333,29.280255,3,129,71,0.018833,0.005116,3,0.0237,0.0135,69.733333,0.665833,3,70.3,69.0
650641,54,E,1122716,weekend,23:55,12.500000,3.535534,2,15,10,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
145217,5,N,1114659,weekday,23:55,58.333333,21.594752,3,81,38,0.011600,0.004657,3,0.0164,0.0071,69.400000,1.249000,3,70.4,68.0
814959,94,W,1100729,weekday,23:55,9.000000,2.645751,3,11,6,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
814962,94,W,1100732,weekday,23:55,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
381022,163,N,1114450,weekday,23:55,72.666667,17.473790,3,92,58,0.010667,0.002495,3,0.0135,0.0088,71.066667,0.709460,3,71.7,70.3
695197,15,N,1123148,weekday,23:55,3.333333,1.527525,3,5,2,0.002100,0.000917,3,0.0031,0.0013,65.000000,0.000000,3,65.0,65.0
814975,94,W,1108292,weekday,23:55,2.666667,1.527525,3,4,1,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
339275,8,W,1100434,weekend,23:55,2.500000,2.121320,2,4,1,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
58690,15,N,1119743,weekend,23:55,55.500000,21.920310,2,71,40,0.010400,0.003677,2,0.0130,0.0078,68.400000,0.141421,2,68.5,68.3
694873,8,E,1122625,weekday,23:55,7.333333,3.511885,3,11,4,0.006133,0.002458,3,0.0087,0.0038,NaN,NaN,0,NaN,NaN
844112,8,W,1108340,weekday,23:55,7.666667,6.027714,3,14,2,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
17470,5,S,1119307,weekday,23:55,66.333333,3.214550,3,70,64,0.015933,0.003083,3,0.0194,0.0135,68.000000,1.915724,3,69.3,65.8
178476,805,N,1116497,weekend,23:55,14.000000,1.414214,2,15,13,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
58678,15,N,1118923,weekend,23:55,94.000000,45.254834,2,126,62,0.013250,0.005303,2,0.0170,0.0095,69.750000,1.060660,2,70.5,69.0
572627,125,N,1119126,weekday,23:55,43.333333,15.275252,3,60,30,0.019100,0.006678,3,0.0261,0.0128,66.066667,1.069268,3,67.0,64.9
461701,15,S,1121142,weekday,23:55,5.000000,3.000000,3,8,2,0.002067,0.000723,3,0.0029,0.0016,64.833333,0.305505,3,65.1,64.5
750839,78,E,1108638,weekday,23:55,4.000000,2.000000,3,6,2,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
345471,5,S,1108476,weekday,23:55,2.000000,1.000000,3,3,1,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
539794,15,N,1114044,weekend,23:55,99.000000,45.254834,2,131,67,0.017100,0.008202,2,0.0229,0.0113,71.200000,0.565685,2,71.6,70.8
461661,15,S,1115771,weekday,23:55,86.666667,23.028967,3,112,67,0.014667,0.003775,3,0.0188,0.0114,71.366667,0.750555,3,71.8,70.5
844149,8,W,1108390,weekday,23:55,9.000000,5.000000,3,14,4,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN
376058,15,S,1119756,weekday,23:55,49.333333,16.289056,3,68,38,0.008633,0.002873,3,0.0119,0.0065,69.200000,0.360555,3,69.6,68.9
169711,94,W,1108302,weekend,23:55,68.000000,26.870058,2,87,49,0.014950,0.004879,2,0.0184,0.0115,66.850000,0.636396,2,67.3,66.4
260690,15,N,1108592,weekday,23:55,92.666667,22.501852,3,115,70,0.015267,0.003900,3,0.0192,0.0114,70.666667,0.305505,3,71.0,70.4
650835,94,E,1108374,weekend,23:55,100.000000,56.568542,2,140,60,0.018000,0.010182,2,0.0252,0.0108,70.700000,0.282843,2,70.9,70.5
191037,94,W,1118989,weekend,23:55,29.000000,19.798990,2,43,15,0.009850,0.006576,2,0.0145,0.0052,68.550000,0.919239,2,69.2,67.9
616718,15,S,1119768,weekend,23:55,68.000000,14.142136,2,78,58,0.012050,0.002758,2,0.0140,0.0101,69.050000,0.353553,2,69.3,68.8
694713,5,S,1118702,weekday,23:55,71.666667,19.655364,3,94,57,0.013467,0.004210,3,0.0183,0.0106,67.266667,1.123981,3,68.5,66.3
787561,163,N,1114457,weekend,23:55,85.000000,42.426407,2,115,55,0.014650,0.006576,2,0.0193,0.0100,69.700000,1.979899,2,71.1,68.3