## NOTE: The following notebook is NOT executable. It requires all files located in https://s3.amazonaws.com/dse-team2-2014/regression/ to be placed in a relative location of ./data/regression

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
def hot1_encoding(df, index):
    s= df[index]
    m_value_counts= s.value_counts()
    for k,v in m_value_counts.iteritems():
        uv_mask= (df[index] == k).astype(float)
        new_field= "Field_sourceCol_{}_value_{}".format(index, k)
        df[new_field]= uv_mask
    
    del df[index]

In [4]:
from datetime import datetime

def extract_day_of_week(s):
    d= datetime.strptime(s, '%m-%d-%Y')
    return d.weekday()

In [5]:
def get_reconstruction_from_projection(eigenvectors, Mean, m_projection):
    Eig= np.matrix(eigenvectors)
    rec = np.array(m_projection * Eig.transpose() + Mean)
    #rec= Eig*m_projection.transpose()+Mean[:,np.newaxis]
    return np.ravel(rec)

In [6]:
m_fwy_meta_df= pd.read_json('./data/regression/station_meta.json', typ='frame', orient='records')
m_fwy_meta_df.rename(columns={'station': 'S_ID', 'district' : 'DISTRICT_ID', 'latitude' : 'LAT', 'longitude' : 'LON', 'zip' : 'ZIP'}, inplace=True)
m_fwy_meta_df.drop(labels=['direction', 'freeway', 'name', 'urban'], axis=1, inplace=True)
m_fwy_meta_df

       DISTRICT_ID        LAT         LON     S_ID    ZIP
0                8  33.785651 -117.218642   819200  92570
1                8  33.785554 -117.218747   819201  92570
2               11  32.841682 -117.121715  1114114  92122
3                8  33.782061 -117.213169   819203  92570
4                8  33.889640 -117.270822   819204  92518
5                3  38.852429 -121.146352   316758  95658
6                8  33.897686 -117.274790   819206  92518
7               11  32.845641 -117.209753  1114119  92117
8               12  33.769824 -117.758692  1212424  92602
9                8  33.874539 -117.264715   819209  92518
10               8  33.885447 -117.269369   819210  92518
11               8  34.107120 -117.302357   819212  92410
12              10  37.767234 -121.331393  1015810  95304
13              11  32.841932 -117.121717  1114126  92122
14              12  33.774490 -117.757935  1212431  92602
15              12  33.774700 -117.758346  1212432  92602
16               8  34.137430 -117.314778   819217  92411
17               8  34.137523 -117.314595   819218  92411
18              11  32.847830 -117.076315  1114131  92124
19               8  34.099932 -117.301924   819220  92410
20               8  34.104262 -117.302176   819221  92410
21               8  34.085481 -117.301090   819222  92410
22               8  34.085432 -117.301270   819223  92410
23              11  32.837447 -117.234743  1114136  92037
24              12  33.779145 -117.754970  1212441  92602
25              12  33.779357 -117.755290  1212443  92602
26              11  32.846153 -117.188480  1114141  92117
27               8  33.889543 -117.271069   819205  92518
28              10  37.785760 -121.305278  1048610  95330
29              11  32.841823 -117.164749  1114147  92122
...            ...        ...         ...      ...    ...
10603            8  33.864636 -117.540828   819153  92879
10604           12  33.744980 -117.765231  1212372  92602
10605           12  33.745156 -117.765643  1212374  92602
10606           12  33.749991 -117.764319  1212382  92602
10607           12  33.750147 -117.764687  1212383  92602
10608           12  33.754000 -117.763603  1212390  92602
10609           12  33.754147 -117.763983  1212391  92602
10610            8  34.149045 -117.322112   819196  92407
10611            8  33.932186 -116.988375   819178  92223
10612           11  32.542842 -117.030331  1114091  92173
10613            8  33.936993 -116.996116   819180  92223
10614            8  33.933675 -116.991362   819181  92223
10615           12  33.758685 -117.761350  1212398  92602
10616            8  33.960486 -117.024179   819183  92223
10617            8  33.954259 -117.014462   819184  92223
10618            8  33.954259 -117.014462   819185  92223
10619            8  33.977902 -117.049472   819186  92320
10620            8  33.977902 -117.049472   819187  92320
10621           11  32.709969 -117.147511  1114100  92102
10622           12  33.762966 -117.759099  1212405  92602
10623           12  33.763114 -117.759498  1212406  92602
10624           12  33.758827 -117.761762  1212407  92602
10625            8  34.079057 -117.296915   819192  92408
10626            8  34.078998 -117.297082   819193  92408
10627            8  34.117232 -117.302707   819194  92410
10628            8  34.117224 -117.302924   819195  92411
10629           11  32.845413 -117.209402  1114108  92117
10630            8  34.149161 -117.321884   819197  92405
10631           12  33.766351 -117.758414  1212414  92602
10632           12  33.766516 -117.758825  1212415  92602

[10633 rows x 5 columns]

In [7]:
#
# Memory Error occurs when attempting to run for all years and partitions, adjust list parameters as necessary
#
# p1_list= ['wkday', 'wkend']
# p2_list= ['weekday', 'weekend']
p1_list= ['wkend']
p2_list= ['weekend']
partitions= zip(p1_list, p2_list)
years= [2008, 2009, 2010, 2011, 2013, 2014, 2015]
#years= [2015]
#
hot1_columns= ['NUM_LANES', 'FWY_NUM', 'FWY_DIR', 'DAY_OF_WEEK', 'DISTRICT_ID']
for pentry in partitions:
    for y in years:
        p1= pentry[0]
        p2= pentry[1]
        #
        print('Processing {}, {}, {}'.format(p1, p2, y))
        a_df= pd.read_csv('./data/regression/trim_{}_{}.csv'.format(y, p1), header=0)
        c_df= pd.merge(a_df, m_fwy_meta_df, on='S_ID')
        #
        base_mean_path= './data/{}/total_flow_{}_mean_vector.pivot_{}_grouping_pca_tmp.csv'
        base_eigs_path= './data/{}/total_flow_{}_eigenvectors.pivot_{}_grouping_pca_tmp.csv'
        mean= pd.read_csv(base_mean_path.format(p2, p2, y), header=None).values[0]
        eigs= pd.read_csv(base_eigs_path.format(p2, p2, y), header=None).values  # eigenvectors per row matrix (5 X 288)

        rows= c_df[['Flow_Coef_1', 'Flow_Coef_2', 'Flow_Coef_3', 'Flow_Coef_4', 'Flow_Coef_5']].values

        new_columns= np.zeros(len(rows))
        for i, row in enumerate(rows):
            rec= get_reconstruction_from_projection(eigs, mean, row)
            new_columns[i]= np.mean(rec)

        c_df['AGG_TOTAL_FLOW']= new_columns
        c_df.drop([
            'S_ID',
            'Flow_Coef_1',
            'Flow_Coef_2',
            'Flow_Coef_3', 
            'Flow_Coef_4', 
            'Flow_Coef_5',
            'CHP_DESC',
            'CHP_DURATION',
            'CC_CODE',
            'ZIP'
        ], axis=1, inplace=True)
        #
        c_df['CHP_INC']= c_df.CHP_INC.apply(lambda v: 1 if v == 'T' else 0)
        c_df['CHP_INC']= c_df.CHP_INC.astype(float)

        c_df['DATE']= c_df.DATE.apply(lambda s: extract_day_of_week(s))
        c_df.rename(columns={'DATE':'DAY_OF_WEEK'}, inplace=True)
        #
        for c in hot1_columns:
            hot1_encoding(c_df, c)
        c_df.to_csv('./data/regression/preprocessed_{}_{}.csv'.format(y, p1), index=False)
        #
        del c_df
        del a_df
        del rows

Processing wkend, weekend, 2008
Processing wkend, weekend, 2009
Processing wkend, weekend, 2010
Processing wkend, weekend, 2011
Processing wkend, weekend, 2013
Processing wkend, weekend, 2014
Processing wkend, weekend, 2015