In [1]:
# dependent on pg8000 sql api
#
# pip install pg8000

In [1]:
import dbtemplate as dbt
from dbtemplate import StatementExecutorTemplateCallback
from dbtemplate import StatementExecutorTemplate

In [3]:
class InternalCallback(StatementExecutorTemplateCallback):
    def _get_query(self):
        return "select * from district"
    
    def _map_row(self, row):
        m_id, m_name= row
        return (m_id, m_name)

In [4]:
db_name = 'dyerke'
username = 'dyerke'
password = 'dyerke'
hostname = 'localhost'
port = 5432

template = StatementExecutorTemplate(db_name, username, password, hostname, port)
callback= InternalCallback()
m_list= template.execute(callback)
for i in m_list:
    print i

m_df= dbt.to_data_frame(m_list, ['id', 'name'])

(1, u'Northwest')
(2, u'Northeast')
(3, u'North Central')
(4, u'Bay Area')
(5, u'Central Coast')
(6, u'South Central')
(7, u'LA/Ventura')
(8, u'San Bernardino/Riverside')
(9, u'Eastern Sierra')
(10, u'Central')
(11, u'San Diego/Imperial')
(12, u'Orange County')

In [5]:
m_df

    id                      name
0    1                 Northwest
1    2                 Northeast
2    3             North Central
3    4                  Bay Area
4    5             Central Coast
5    6             South Central
6    7                LA/Ventura
7    8  San Bernardino/Riverside
8    9            Eastern Sierra
9   10                   Central
10  11        San Diego/Imperial
11  12             Orange County