In [1]:
# dependent on pg8000 sql api
#
# pip install pg8000

In [2]:
import dbtemplate as dbt
import pandas as pd
import numpy as np
from dbtemplate import StatementExecutorTemplateCallback
from dbtemplate import StatementExecutorTemplate

In [3]:
class InternalCallback(StatementExecutorTemplateCallback):
    def _get_query(self):
        return "select * from district"
    
    def _map_row(self, row):
        m_id, m_name= row
        return (m_id, m_name)

In [4]:
db_name = 'dyerke'
username = 'dyerke'
password = 'dyerke'
hostname = 'localhost'
port = 5432

template = StatementExecutorTemplate(db_name, username, password, hostname, port)
callback= InternalCallback()
m_list= template.execute(callback)
for i in m_list:
    print i

dtypes= [int, np.str]
m_df= dbt.to_data_frame(m_list, ['id', 'name'], dtypes)
a_df= dbt.to_data_frame(m_list, ['id', 'name'], dtypes)

(1, u'Northwest')
(2, u'Northeast')
(3, u'North Central')
(4, u'Bay Area')
(5, u'Central Coast')
(6, u'South Central')
(7, u'LA/Ventura')
(8, u'San Bernardino/Riverside')
(9, u'Eastern Sierra')
(10, u'Central')
(11, u'San Diego/Imperial')
(12, u'Orange County')

TypeError: data type not understood

In [5]:
m_df

    id                      name
0    1                 Northwest
1    2                 Northeast
2    3             North Central
3    4                  Bay Area
4    5             Central Coast
5    6             South Central
6    7                LA/Ventura
7    8  San Bernardino/Riverside
8    9            Eastern Sierra
9   10                   Central
10  11        San Diego/Imperial
11  12             Orange County

In [6]:
a_df

    id                      name
0    1                 Northwest
1    2                 Northeast
2    3             North Central
3    4                  Bay Area
4    5             Central Coast
5    6             South Central
6    7                LA/Ventura
7    8  San Bernardino/Riverside
8    9            Eastern Sierra
9   10                   Central
10  11        San Diego/Imperial
11  12             Orange County

In [10]:
result_df= pd.merge(m_df, a_df, on='id')
result_df

    id                    name_x                    name_y
0    1                 Northwest                 Northwest
1    2                 Northeast                 Northeast
2    3             North Central             North Central
3    4                  Bay Area                  Bay Area
4    5             Central Coast             Central Coast
5    6             South Central             South Central
6    7                LA/Ventura                LA/Ventura
7    8  San Bernardino/Riverside  San Bernardino/Riverside
8    9            Eastern Sierra            Eastern Sierra
9   10                   Central                   Central
10  11        San Diego/Imperial        San Diego/Imperial
11  12             Orange County             Orange County

In [16]:
result_df['id']= result_df['id'].astype(int)

In [17]:
result_df['test']= map(lambda x: x * 4, result_df['id'])
result_df

    id                    name_x                    name_y  test
0    1                 Northwest                 Northwest     4
1    2                 Northeast                 Northeast     8
2    3             North Central             North Central    12
3    4                  Bay Area                  Bay Area    16
4    5             Central Coast             Central Coast    20
5    6             South Central             South Central    24
6    7                LA/Ventura                LA/Ventura    28
7    8  San Bernardino/Riverside  San Bernardino/Riverside    32
8    9            Eastern Sierra            Eastern Sierra    36
9   10                   Central                   Central    40
10  11        San Diego/Imperial        San Diego/Imperial    44
11  12             Orange County             Orange County    48

In [18]:
result_df['delta']= result_df['test'] - result_df['id']
result_df

    id                    name_x                    name_y  test  delta
0    1                 Northwest                 Northwest     4      3
1    2                 Northeast                 Northeast     8      6
2    3             North Central             North Central    12      9
3    4                  Bay Area                  Bay Area    16     12
4    5             Central Coast             Central Coast    20     15
5    6             South Central             South Central    24     18
6    7                LA/Ventura                LA/Ventura    28     21
7    8  San Bernardino/Riverside  San Bernardino/Riverside    32     24
8    9            Eastern Sierra            Eastern Sierra    36     27
9   10                   Central                   Central    40     30
10  11        San Diego/Imperial        San Diego/Imperial    44     33
11  12             Orange County             Orange County    48     36

In [25]:
result_df.sort('delta', ascending=False, inplace=True)
result_df

    id                    name_x                    name_y  test  delta
11  12             Orange County             Orange County    48     36
10  11        San Diego/Imperial        San Diego/Imperial    44     33
9   10                   Central                   Central    40     30
8    9            Eastern Sierra            Eastern Sierra    36     27
7    8  San Bernardino/Riverside  San Bernardino/Riverside    32     24
6    7                LA/Ventura                LA/Ventura    28     21
5    6             South Central             South Central    24     18
4    5             Central Coast             Central Coast    20     15
3    4                  Bay Area                  Bay Area    16     12
2    3             North Central             North Central    12      9
1    2                 Northeast                 Northeast     8      6
0    1                 Northwest                 Northwest     4      3

In [28]:
m_result= result_df.iloc[0]
print type(m_result), m_result

<class 'pandas.core.series.Series'> id                   12
name_x    Orange County
name_y    Orange County
test                 48
delta                36
Name: 11, dtype: object